
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Stock price prediction</title>
</head>
<body>

    {{a}}

    <h2>Check next day stock price prediction</h2>

    <h2>Please enter details:</h2>
    <br>
    <form method="post"  enctype="multipart/form-data" action="predictStockPrice">
        {% csrf_token %}
            <div class="col-md-4 col-sm-4">
                <label for="fname">Upload:</label>
            </div>
            <input name="csv_file" type="file"><br><br>
            <br>
            <input type="submit" value="Submit"/>
        {{ loaded_data | safe }}
    </form>
    <br>
</body>

</html>